<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>view/Home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filter.StaffFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MktFilter</filter-name>
        <filter-class>filter.MktFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SaleFilter</filter-name>
        <filter-class>filter.SaleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/view/customerOrder</url-pattern>
        <url-pattern>/view/orderInformation</url-pattern>
        <url-pattern>/view/Feedback</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SaleFilter</filter-name>
        <url-pattern>/view/saleDashboard</url-pattern>
        <url-pattern>/view/comboManage</url-pattern>
        <url-pattern>/view/addCombo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MktFilter</filter-name>
        <url-pattern>/view/marketingDashboard</url-pattern>
        <url-pattern>/view/addProduct</url-pattern>
        <url-pattern>/view/updateProduct</url-pattern>
        <url-pattern>/view/updateProduct</url-pattern>
        <url-pattern>/view/addStock</url-pattern>
        <url-pattern>/view/updateStock</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/view/AddUser</url-pattern>
        <url-pattern>/view/UpdateInfomation</url-pattern>
        <url-pattern>/view/ShopInfomation</url-pattern>
        <url-pattern>/view/AdminDashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/view/searchOrder</url-pattern>
        <url-pattern>/view/managerorder</url-pattern>
        <url-pattern>/view/orderDetail</url-pattern>
        <url-pattern>/view/userDetail</url-pattern>
        <url-pattern>/view/user</url-pattern>
        <url-pattern>/view/searchFeedback</url-pattern>
        <url-pattern>/view/feedback</url-pattern>
        <url-pattern>/view/productStockManage</url-pattern>
        <url-pattern>/view/SearchBlog</url-pattern>
        <url-pattern>/view/PostCate</url-pattern> 
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.account.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.account.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcctiveAccountServlet</servlet-name>
        <servlet-class>controller.account.AcctiveAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.account.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopAllServlet</servlet-name>
        <servlet-class>controller.product.ShopAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDeatil</servlet-name>
        <servlet-class>controller.blog.BlogDeatilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.blog.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboDetailServlet</servlet-name>
        <servlet-class>controller.combo.ComboDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.account.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.account.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.account.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeToUpdatePwServlet</servlet-name>
        <servlet-class>controller.account.VerifyCodeToUpdatePwServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>controller.account.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryToppic</servlet-name>
        <servlet-class>controller.blog.CategoryToppic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetailServlet</servlet-name>
        <servlet-class>controller.product.productDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.product.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.account.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddress</servlet-name>
        <servlet-class>controller.account.UpdateAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddress</servlet-name>
        <servlet-class>controller.account.DeleteAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboListServlet</servlet-name>
        <servlet-class>controller.combo.ComboListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.product.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktDashboardServlet</servlet-name>
        <servlet-class>controller.marketing.MktDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductStockManageServlet</servlet-name>
        <servlet-class>controller.marketing.ProductStockManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktSearchServlet</servlet-name>
        <servlet-class>controller.marketing.MktSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.marketing.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.marketing.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostManage</servlet-name>
        <servlet-class>controller.blog.PostManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>controller.blog.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>controller.blog.DetailUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlog</servlet-name>
        <servlet-class>controller.blog.EditBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderServelet</servlet-name>
        <servlet-class>controller.history.CustomerOrderServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInformationServelet</servlet-name>
        <servlet-class>controller.history.OrderInformationServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServelet</servlet-name>
        <servlet-class>controller.history.FeedbackServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <servlet-class>controller.sale.SaleDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboManageServlet</servlet-name>
        <servlet-class>controller.combo.ComboManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.product.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.product.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStockServlet</servlet-name>
        <servlet-class>controller.marketing.AddStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStockServlet</servlet-name>
        <servlet-class>controller.marketing.UpdateStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderServlet</servlet-name>
        <servlet-class>controller.sale.ManagerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>controller.sale.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.sale.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackList</servlet-name>
        <servlet-class>controller.feedback.FeedbackList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedback</servlet-name>
        <servlet-class>controller.feedback.SearchFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetail</servlet-name>
        <servlet-class>controller.feedback.FeedbackDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServelet</servlet-name>
        <servlet-class>controller.admin.AdminDashboardServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopInfomationServelet</servlet-name>
        <servlet-class>controller.admin.ShopInfomationServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfomationServelet</servlet-name>
        <servlet-class>controller.admin.UpdateInfomationServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.account.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.account.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.account.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComboServlet</servlet-name>
        <servlet-class>controller.combo.AddComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRate</servlet-name>
        <servlet-class>controller.feedback.FilterRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlog</servlet-name>
        <servlet-class>controller.blog.SearchBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCate</servlet-name>
        <servlet-class>controller.blog.PostCate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/view/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/view/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcctiveAccountServlet</servlet-name>
        <url-pattern>/view/acctive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/view/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopAllServlet</servlet-name>
        <url-pattern>/view/shopAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDeatil</servlet-name>
        <url-pattern>/view/blogdeatil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/view/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboDetailServlet</servlet-name>
        <url-pattern>/view/comboDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/view/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/view/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/view/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeToUpdatePwServlet</servlet-name>
        <url-pattern>/view/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/view/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryToppic</servlet-name>
        <url-pattern>/view/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetailServlet</servlet-name>
        <url-pattern>/view/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/view/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/view/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddress</servlet-name>
        <url-pattern>/view/updateAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddress</servlet-name>
        <url-pattern>/view/deleteAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboListServlet</servlet-name>
        <url-pattern>/view/ComboList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/view/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktDashboardServlet</servlet-name>
        <url-pattern>/view/marketingDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductStockManageServlet</servlet-name>
        <url-pattern>/view/productStockManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktSearchServlet</servlet-name>
        <url-pattern>/view/mktSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/view/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/view/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostManage</servlet-name>
        <url-pattern>/view/PostManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/view/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/view/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlog</servlet-name>
        <url-pattern>/view/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/view/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderServelet</servlet-name>
        <url-pattern>/view/customerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInformationServelet</servlet-name>
        <url-pattern>/view/orderInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServelet</servlet-name>
        <url-pattern>/view/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <url-pattern>/view/saleDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboManageServlet</servlet-name>
        <url-pattern>/view/comboManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/view/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/view/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStockServlet</servlet-name>
        <url-pattern>/view/addStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStockServlet</servlet-name>
        <url-pattern>/view/updateStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderServlet</servlet-name>
        <url-pattern>/view/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/view/searchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/view/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackList</servlet-name>
        <url-pattern>/view/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedback</servlet-name>
        <url-pattern>/view/searchFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetail</servlet-name>
        <url-pattern>/view/feedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServelet</servlet-name>
        <url-pattern>/view/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopInfomationServelet</servlet-name>
        <url-pattern>/view/ShopInfomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfomationServelet</servlet-name>
        <url-pattern>/view/UpdateInfomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/view/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/view/userDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/view/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComboServlet</servlet-name>
        <url-pattern>/view/addCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRate</servlet-name>
        <url-pattern>/view/filterRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlog</servlet-name>
        <url-pattern>/view/SearchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCate</servlet-name>
        <url-pattern>/view/PostCate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
